/* nav bar */
.navbar-brand {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(237, 233, 249);
}

.navbar-nav {
    font-size: 1.3rem;
}

.nav-item {
    padding-right: 1rem;
}

body {
    background-color: #000000;
}

.bike-img {
    width: 100%;
    height: auto;
}

.social-links {
    color: #7FFF00;
    font-size: x-large;
}

.tag-line {
    text-align: center;
    color:aliceblue;
}

.card-title {
    color: crimson;
}

a {
    text-decoration: none;
}


